
<div class="banner-pos">


    <h2> Considere fazer uma doação por Pix aceesando o link abaixo! </h2>

    <p> Manter este serviço funcionando requer tempo para manutenção e aluguel da hospedagem! </p>

    <br><br><br>
    <div class="pix-banner">

        <a href='https://livepix.gg/cyb3rpunk' target="_blank"> Link para a página de doação </a>

    </div><!--pix-banner-->

    <br><br><br>

   
    <div class="downloadYourFile">

    </div>

    


    <button class='downloadYourFile'> </button>

</div>

<script>
    
</script>